#templates{
	display:none;
}

#graph{
	height:400px;
	overflow:hidden;
}

#graph .bar{
	height:100%;
	width:50px;
	border-right:#777 1px solid;
	display:block;
	float:left;
	overflow:hidden;
	position:relative;
}
#graph .bar .date{
	display:block;
	margin:0px 3px;
}
#graph .bar .total{
	margin:0px 3px;
	font-style:italic;
}
#graph .bar .canvas{
	width:100%;
	background-color:#b3d9fd;
	position:absolute;
	top:0px;
	left:0px;
	z-index:-5;
}
#graph .bar.hover .canvas{
	background-color:#5fabfb;
}